p {
  margin: 0;
}


.heading, .all_expenses_container {
  width: 80%;
  margin: auto;
}

.heading {
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--container-background);
  border-radius: var(--border-radius);
  padding: 5px 15px;
  box-sizing: border-box;
}
.heading p {
  font-size: 2rem;
  padding: 5px 0;
}

.all_expenses_container {
    overflow-y: scroll;
}

.expense {
  margin-bottom: 5px;
  border: 1px solid var(--font-color);
  background: var(--container-background);
  border-radius: var(--border-radius);
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr auto;
}

.expense p {
  display: inline-block;
  font-size: 1rem;
}

.title, .owner_date {
  display: grid;
  grid-template-columns: 1fr auto;
}

.expense_short_info {
  box-sizing: border-box;
  padding-right: 10px;
}

.owner_date p {
  font-size: 0.75rem;
}

.expense_amt {
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content:center;
  color: var(--dark-grey);
}

.pending {
  background: var(--light-blue);
  font-style: italic;
}

 .submit_button_container {
  width: 100%;
  text-align: center;
}

.submit_button_container button {
  width: 80%;
  font-size: 1rem;
  background: var(--green);
  color: #FFF;
  padding: 10px 15px;
  border-radius: var(--border-radius);
}

#pending_expense .submit_button_container button:last-child {
  margin-top: 5px;
  background: var(--red);
}

.create_expense_container {
  margin: auto;
  width: 70%;
  padding: 20px 30px;
  background: var(--container-background);
  border-radius: var(--border-radius);
  margin-top: 50px;
  max-width: 500px;
}

.create_expense_container > p {
  font-size: 1.5rem;
  display: block;
  margin: 5px;
  text-align: center;
}
.input_text_field input,
.member_selection input{
  line-height: 1.5;
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--font-color);
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px;
}

.input_text_field input:focus,
.member_selection input:focus {
  outline: none;
  border-bottom: 1px solid var(--green);
}

.create_expense_container label {
  display: block;
  font-size: 1rem;
}

.memmber_selection_container {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
.member_selection_header {
  font-size: 1rem;
  text-align: left;
}
.member_selection p,
.member_selection input {
  margin-bottom: 0;
}
